/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wgh');

/* Global Reset */
* {
    /* Box Model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Visual */
    text-decoration: none;
    list-style: none;
}

/* Body Styles */
body {
    /* Typography */
    font-family: 'Poppins', sans-serif;
}

/* Section Styles */
section {
    /* Box Model */
    width: 100%;
    min-height: 100vh;
    padding: 50px;

    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Visual */
    background: #fff;

    /* Positioning */
    position: relative;
}

/* ===== HEADER SECTION STYLES ===== */

/* Header Styles */
header {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* Box Model */
    padding: 20px 100px;

    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styles */
header .logo {
    /* Positioning */
    position: relative;

    /* Visual */
    max-width: 60px;
}

/* Navigation Styles */
header ul {
    /* Positioning */
    position: relative;

    /* Layout */
    display: flex;
}

/* Navigation Link Styles */
header ul li a {
    /* Layout */
    display: inline-block;

    /* Visual */
    color: #333;
    font-weight: 400;
    margin-left: 40px;
}

/* Navigation Link Hover Styles */
header ul li a:hover {
    color: #017143;
}

/* ===== CONTENT SECTION STYLES ===== */

/* Content Section */
.content {
    /* Positioning */
    position: relative;

    /* Box Model */
    width: 100%;

    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Text Box */
.content .text-box {
    /* Positioning */
    position: relative;

    /* Box Model */
    width: 600px;
}

/* Heading Styles */
.content .text-box h2 {
    /* Visual */
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}


#starbucksText {
    /* Visual */
    color: #017143;
    font-family: "DM Sans", sans-serif;
    font-size: 86px;
    font-weight: 1000;
    line-height: 1.1;  
}

#starbucksDiscription{
    margin-block: 20px;
}

.animatedText {
    opacity: 0.5;

    transform: translatex(-200px);
    transition: opacity 1s ease, transform 1s ease;
}



/* Paragraph Styles */
.content .text-box p {
    /* Visual */
    color: #333;
}

/* Link Styles */
.content .text-box a {
    /* Layout */
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;

    /* Visual */
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

#ExpBtn:hover {
    padding-inline: 30px;
}

/* Image Box */
.content .img-box {
    /* Box Model */
    width: 600px;

    /* Layout */
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 50px;
}

.img-box {
    animation: moveUpDown 3s ease-in-out infinite;
    
}

.starbucks {
    transition: 1s ease-in-out;

}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-20px); 
    }
  }

/* Image Styles */
.content .img-box img {
    /* Visual */
    max-width: 250px;
}

/* Thumbnail Container */
#thumb {
    /* Positioning */
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    transition: 1s;

    /* Layout */
    display: flex;
}

/* Thumbnail List */
#thumb li {
    /* Layout */
    display: inline-block;
    margin: 0 20px;

    /* Interaction */
    cursor: pointer;
    transition: transform 0.5s;
}

/* Thumbnail Hover Effect */
#thumb li:hover {
    /* Interaction */
    transform: translateY(-15px);
}

/* Thumbnail Image */
#thumb li img {
    /* Visual */
    max-width: 60px;
}

.images1 {
    transform: scale(1.1) rotate(355deg);
}

.images2 {
    transform: rotate(24deg) scale(1.1);
    
}

.images3 {
    transform: scale(1.2);
}

/* Social Media Container */
#social-media {
    /* Positioning */
    position: absolute;
    top: 80%;
    right: 30px;
    transform: translateY(-250%);

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 1s;

}

/* Social Media Icons */
#social-media li a {
    /* Layout */
    display: inline-block;
    margin: 5px 0;

    /* Visual */
    transform: scale(0.6);
    filter:invert(1);

    transition: transform 0.5s ease;
}

#social-media li a:hover{
    transform: scale(0.7);
}

/* Circle Background */
.circle {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Visual */
    background: #017143;
    clip-path: circle(600px at right 800px);
}

.img3{
    transform: rotate(-15deg) scale(1.1);
}


::-webkit-scrollbar{
    display: none;
}